.d-flex.align-items-center.justify-content-between.mb-4.border-bottom
  %h1 Admin Panel
  %div
    = link_to "Rails Admin", rails_admin_path, :target => "_blank", :class => "btn btn-dark link-light"
    = link_to "Home", root_path, :class => "btn btn-primary link-light"
%div
  = datagrid_form_for @grid, :method => :get, :url => site_admins_admin_panel_path
  .mt-4
    = link_to "Download Surveys Report", site_admins_download_surveys_xlsx_path, :target => "_blank", :class => "btn btn-primary btn-sm"
  .mt-2.mb-4
    = datagrid_table @grid
    = paginate(@grid.assets)
