<%= form_for @survey do |form| %>
 
	<% if @survey.errors.any? %>
	  <div id="error_explanation" class="pb-4 mt-4 mb-2 border-bottom">
		<h2>
		  <%= pluralize(@survey.errors.count, "error") %> prohibited
		  this survey from being saved:
		</h2>
		<ul>
		  <% @survey.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		</ul>
	  </div>
	<% end %>
	
	<div class="input-group pb-4 pt-2 mb-4 border-bottom">
		<%= form.label :question, :value => "Question", :class => "input-group-text" %>
		<%= form.text_field :question, required: true, :class => "form-control" %>
	</div>

	<div id="answers">
		<%= form.fields_for :answers do |answer_form| %>
			<%= render "answer_fields", f: answer_form %>
		<% end %>

		<div class="links">
			<%= link_to_add_association 'Add Answer', form, :answers %>
		</div>
	</div>

	<div>
		<%= form.submit "Create", :class => "btn btn-primary" %>
	</div>
   
 <% end %>