<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
		<%= link_to "Home", root_path %>
	</li>
    <li class="breadcrumb-item">
		<%= link_to "Survey", @survey %>
	</li>
    <li class="breadcrumb-item active" aria-current="page">Results</li>
  </ol>
</nav>

<h1 class="pb-4 mt-4 mb-4 border-bottom">Results</h1>

<h2><%= @survey.question %></h1>
<p>Total votes: <%= @total_votes %></p>

<% @survey.answers.each do |answer| %>

	<div class="list-group">
		<div class="list-group-item">
			<%= answer.description %>
			<div class="progress">
				<div 
					class="progress-bar" 
					role="progressbar" 
					style="width: <%= vote_as_percentage(answer, @total_votes) %>;" 
					aria-valuenow="<%= vote_as_percentage(answer, @total_votes) %>" 
					aria-valuemin="0" 
					aria-valuemax="100">
					<%= vote_as_percentage(answer, @total_votes) %>
					</div>
			</div>
		</div>
	</div>		

<% end %>